[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
mo-gymnasium = {extras = ["mujoco"], version = "*"}
hydra-core = "*"
omegaconf = "*"
numpy = "*"
mlflow = "*"
pymoo = "*"
"ruamel.yaml" = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
wandb = "*"
tensorboard = "*"
moviepy = "*"

[dev-packages]
python-lsp-server = {extras = ["all"], version = "*"}
python-lsp-ruff = "*"
ipython = "*"
tomli = "*"
plotly = "*"
pyside6 = "*"
kaleido = "*"
tornado = "*"
pycddlib = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
rliable = "*"
notebook = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
